#camera-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -10;
}

#camera-mode-selector {
    position: relative;
}

#camera-mode-list {
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px 8px 2px 8px;
    width: max-content;
    display: none;
}

#camera-mode-selector:hover #camera-mode-list,
#camera-mode-selector:focus-within #camera-mode-list {
    display: block;
}

#camera-mode-list>* {
    display: block;
    width: 100%;
    margin-bottom: 6px;
}

#camera-off {
    display: none;
}

.camera-active #camera-bg {
    display: block;
}

.camera-active #camera-off {
    display: block;
}

.camera-active #camera-mode-selector {
    display: none;
}

#camera-shot-btn {
    position: fixed;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

#camera-shot-btn img {
    display: block;
    filter: invert(1);
    width: 48px;
    height: 48px;
}

#camera-shot-btn:hover img {
    transform: scale(1.1);
    opacity: 0.7;
}

.theme-light #camera-shot-btn img {
    filter: initial;
}

@media (min-aspect-ratio: 1/1) {
    #camera-shot-btn {
        left: initial;
        bottom: 50%;
        right: 56px;
        transform: translateY(50%);
    }
}

#camera-save-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: gray;
}

#camera-save-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#camera-save-actions {
    position: absolute;
    left: 50%;
    bottom: 32px;
    transform: translateX(-50%);
}