#perf-stat {
    flex: 0 0 auto;
    min-height: 0;
    padding: 2px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: monospace;
    color: white;
    pointer-events: none;
    overflow: hidden;
}

#perf-stat-js {
    pointer-events: initial;
    transform: scale(0.72);
    transform-origin: right bottom;
    width: 36px;
    height: 24px;
    overflow: hidden;
}

#perf-time {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#perf-time > * {
    pointer-events: initial;
    background-color: rgba(0, 0, 0, 0.33);
}

.perf-bad {
    color: #fd3;
}
