#stat {
    position: fixed;
    top: 6px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: max-content;
    max-width: 100%;
    color: white;
    pointer-events: none;
    z-index: 20;
}

#stat .demo {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1em;
    padding: 0 0.2em;
}

#load-progress {
    font-size: 1.25em;
    background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 400px) {
    #stat .demo {
        font-size: 1.3em;
    }

    #load-progress {
        font-size: 1.15em;
    }
}
