body {
    background-color: #444;
    color: white;
}

.theme-light {
    background-color: white;
    color: initial;
}

#viewer {
    /* allows the canvas to shrink on mobile devices */
    overflow: hidden;
    position: relative;
}

a img,
button img {
    pointer-events: none;
}