:root {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color: #444;
    color: white;
}

#viewer {
    /* allows the canvas to shrink on mobile devices */
    overflow: hidden;
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
    max-height: 100%;
}

#menu-controls {
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 4px;
    padding-left: 4px;
}

#menu-controls>* {
    flex-shrink: 0;
    pointer-events: initial;
    display: flex;
    align-items: center;
    max-width: 100%;
}

#menu-controls>*>* {
    margin-top: 4px;
    margin-left: 4px;
}

#menu-controls img {
    filter: invert(1);
}

#menu-controls select {
    min-width: 80px;
}

.target-false {
    display: none;
}

.no-target .target-true {
    display: none;
}

.no-target .target-false {
    display: initial;
}

.button-dropdown {
    position: relative;
}

.button-dropdown:focus-within {
    outline-color: black;
    outline-style: auto;
    outline-width: 1px;
    outline-offset: -1px;
}

.button-dropdown div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    opacity: 0;
}

.button-dropdown div select {
    height: 100%;
}

.spacer {
    flex: 1;
}

#menu-controls .spacer {
    display: none;
}

#three-gui {
    overflow: auto;
    flex-shrink: 1;
    overscroll-behavior: contain;
    display: initial;
    margin-top: 8px;
    margin-left: 4px;
}

#three-gui>.lil-gui {
    margin: 0;
}

.lil-gui {
    --background-color: rgba(0, 0, 0, 0.5);
    --title-background-color: rgba(0, 0, 0, 0.25);
    --widget-color: rgba(0, 0, 0, 0.5);
    --hover-color: rgba(0, 0, 0, 0.65);
    --focus-color: rgba(0, 0, 0, 0.9);
}

.children>.lil-gui {
    background: none;
}

#menu-icons>* {
    pointer-events: initial;
    display: block;
}

#menu-icons>*:hover {
    opacity: 0.7;
}

#menu-icons button {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
}

#menu-icons img {
    display: block;
    width: 32px;
    height: 32px;
    padding: 8px;
    filter: invert(1);
}

#theme-set-dark {
    display: none;
}

#demo-screenshot {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: -10;
}

#stat {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: max-content;
    max-width: 100%;
    color: white;
}

#stat .demo {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.5em;
    padding: 0 0.2em;
}

#load-progress {
    font-size: 1.25em;
    background-color: rgba(0, 0, 0, 0.5);
}

.theme-light {
    background-color: white;
    color: initial;
}

.theme-light #menu-controls img {
    filter: initial;
}

.theme-light #menu-icons>*:hover {
    opacity: 0.6;
}

.theme-light #menu-icons img {
    filter: initial;
}

.theme-light #theme-set-dark {
    display: block;
}

.theme-light #theme-set-light {
    display: none;
}

@media (max-width: 750px) and (max-height: 700px) {
    #menu {
        height: 100%;
    }

    #menu-controls .spacer {
        display: initial;
    }

    #three-gui {
        border: 1px solid white;
        border-bottom: none;
    }
}

@media (max-width: 400px) {
    #stat .demo {
        font-size: 1.3em;
    }

    #load-progress {
        font-size: 1.15em;
    }
}