:root {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color: #444;
    color: white;
}

.theme-light {
    background-color: white;
    color: initial;
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
    max-height: 100%;
}

#menu-controls {
    overflow: auto;
}

#menu-controls>* {
    margin: 8px;
    pointer-events: initial;
    width: fit-content;
}

#menu-links>* {
    pointer-events: initial;
}

#menu-links img {
    display: block;
    width: 32px;
    height: 32px;
    padding: 8px;
}

.theme-light #menu-links img {
    filter: invert();
}

.lil-gui {
    --background-color: rgba(0, 0, 0, 0.5);
    --title-background-color: rgba(0, 0, 0, 0.25);
    --widget-color: rgba(0, 0, 0, 0.5);
    --hover-color: rgba(0, 0, 0, 0.65);
    --focus-color: rgba(0, 0, 0, 0.9);
}

.children>.lil-gui {
    background: none;
}

#demo-screenshot {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: -10;
}

#stat {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: max-content;
    max-width: 100%;
    color: white;
}

#stat .demo {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.5em;
    padding: 0 0.2em;
}

#load-progress {
    font-size: 1.25em;
    background-color: rgba(0, 0, 0, 0.5);
}